In [1]:
2+1

3

In [2]:
3-1

2

In [3]:
3/2

1.5

In [4]:
7/4

1.75

In [5]:
7 % 4

3

In [6]:
50 % 5

0

In [7]:
23 % 2

1

In [8]:
2 ** 3

8

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2 +10) * (10+3)

156

In [11]:
1/2

0.5

In [12]:
a = 5

In [13]:
a

5

In [14]:
a = 10

In [15]:
a

10

In [16]:
a + a

20

In [21]:
a = a + a

In [22]:
a

80

In [23]:
type(a)

int

In [24]:
a = 6.9

In [25]:
type(a)

float

In [26]:
int = 4

In [27]:
int

4

In [1]:
a

NameError: name 'a' is not defined

In [2]:
a = 5

In [6]:
my_income = 727

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [7]:
my income = 727

SyntaxError: invalid syntax (Temp/ipykernel_56480/3859905960.py, line 1)

In [8]:
my_income = 727

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [9]:
my_income = 100

In [10]:
my_income = 727
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [11]:
my_taxes

72.7

In [12]:
'hello'

'hello'

In [13]:
"world"

'world'

In [14]:
'this is also a string'

'this is also a string'

In [15]:
"let's get it"

"let's get it"

In [16]:
print("hello")

hello

In [17]:
"hello world one"

'hello world one'

In [18]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [19]:
print("get rekt \n kekw")

get rekt
 kekw

In [20]:
print("am \n i \n doing \n this \n right")

am
 i
 doing
 this
 right

In [21]:
print()

In [22]:
print("hello \tworld")

hello 	world

In [23]:
len('hello')

5

In [24]:
len("I am poggers")

12

In [25]:
print("I \nthink \nI \nget \nit")

I
think
I
get
it

In [26]:
mystring = "Hello World"

In [27]:
mystring

'Hello World'

In [28]:
mystring[0]

'H'

In [29]:
mystring[8]

'r'

In [30]:
mystring[9]

'l'

In [31]:
mystring[-2]

'l'

In [32]:
mystring[-1]

'd'

In [33]:
mystring

'Hello World'

In [34]:
mystring = 'abcdefghijk' # Slicing

In [35]:
mystring

'abcdefghijk'

In [36]:
mystring[2] # indexing

'c'

In [37]:
mystring[2:] # Slicing from 2nd digit to end:

'cdefghijk'

In [38]:
mystring[:3] #slicing from start to :end ex. Go UP TO 3rd digit

'abc'

In [39]:
mystring #d is technically 4

'abcdefghijk'

In [40]:
mystring[3:6] #3rd digit UP TO 6th digit

'def'

In [42]:
mystring[1:3] # REMINDER THAT STRING STARTS AT 0, NOT 1

'bc'

In [43]:
mystring[3:-3]

'defgh'

In [44]:
mystring[3:-2]

'defghi'

In [46]:
mystring[::] # redundant syntax, but still a true statement :: means from start to finish

'abcdefghijk'

In [48]:
mystring[::2] # Will show the entire string with our 2 being the jump in values ex. a c e g i k

'acegik'

In [49]:
mystring[2:7:2] # Start at 2nd value up to 7th value skipping every other value

'ceg'

In [51]:
mystring[::-1] #this syntax REVERSES the string. More of a trick than proper practice

'kjihgfedcba'

In [52]:
name = "Sam"

In [54]:
name [0] = "P" # Cannot change the first value to something else, must create a new string

TypeError: 'str' object does not support item assignment

In [55]:
name[1:] #isolate the values that are staying

'am'

In [56]:
last_letters = name[1:] # Setting name to a value

In [57]:
last_letters

'am'

In [58]:
"P" + last_letters # Basic math to add a new value to our current string

'Pam'

In [59]:
x = 'Hello World'

In [60]:
x + "it is beautiful outside!" # no space after quotations doesn't add space when executing syntax

'Hello Worldit is beautiful outside!'

In [61]:
x + " it is beautiful outside!" # Space after quotations adds space in executed syntax

'Hello World it is beautiful outside!'

In [62]:
x = x + " it is beautiful outside!" #Adding on to already existing value

In [63]:
x

'Hello World it is beautiful outside!'

In [64]:
letter = 'z'

In [65]:
letter * 10

'zzzzzzzzzz'

In [68]:
2 + 3 # Basic Math

5

In [69]:
'2' + '3' # Combining strings ex. "app" + "le" = apple

'23'

In [70]:
x =  'Hello World'

In [72]:
x.upper() # x. allows to change function of a string ex. x.upper changes the string to uppercase

'HELLO WORLD'

In [73]:
x = x.upper() #Changes the base string to be uppercase instead of lowercase by default

In [74]:
x

'HELLO WORLD'

In [75]:
x = 'Hello World'

In [76]:
x.lower() # Changes string to all lowercase

'hello world'

In [78]:
x.split() #Creates a LIST from a string

['Hello', 'World']

In [79]:
x = 'Hi this is a string'

In [80]:
x.split

In [81]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [82]:
x.split(i)

NameError: name 'i' is not defined

In [83]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [84]:
my_name="Wej"

In [86]:
print(" Hello " + my_name)

 Hello Wej

In [88]:
print(" this is a string {}".format('INSERTED')) #{} are placeholders for variables to be inserted. .format takes bracketed string and inserts it into {}

 this is a string INSERTED

In [89]:
print(" {} to {} the function of {} and {} accessories".format( "test"))

IndexError: Replacement index 1 out of range for positional args tuple

In [90]:
print( " {} to see if this works".format(' test '))

  test  to see if this works

In [91]:
print( ' {} to see if {} works'.format( ' test '))

IndexError: Replacement index 1 out of range for positional args tuple

In [92]:
print('{} to see if {} works with {}'.format('test','test','test'))

test to see if test works with test

In [93]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [96]:
print('the {2} {1} {0}'.format('fox','brown','quick')) # REMEMBER THAT THE FIRST STRING IS ALWAYS 0

the quick brown fox

In [95]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [97]:
RESULT = 100/777

In [98]:
RESULT

0.1287001287001287

In [99]:
result

NameError: name 'result' is not defined

In [106]:
result = 104.12345

In [107]:
print("The result was {}".format(result))

The result was 104.12345

In [108]:
print("the result was {r:1.3f}".format(r=result)) #Float formatting - {Vaule(r):width(whitespace).presicion(how many decial places)f}

the result was 104.123

In [109]:
name = "Wej"

In [110]:
print(f'Hello, his name is {name}') #f replaces the need to .function if variable is already set

Hello, his name is Wej

In [111]:
name = mrekk

NameError: name 'mrekk' is not defined

In [116]:
name = "mrekk"
pp = "727pp"

In [117]:
print(f'{name} has {pp}')

mrekk has 727pp

In [119]:
my_list =[1,2,3]

In [121]:
my_list = ['STRING',69,72.7]

In [122]:
len(my_list)

3

In [125]:
mylist = ['one','two','three']

In [126]:
mylist[0]

'one'

In [127]:
mylist[1:]

['two', 'three']

In [128]:
another_list = ['four','five']

In [129]:
mylist+another_list

['one', 'two', 'three', 'four', 'five']

In [130]:
new_list = mylist+another_list

In [131]:
new_list

['one', 'two', 'three', 'four', 'five']

In [132]:
mylist

['one', 'two', 'three']

In [133]:
new_list

['one', 'two', 'three', 'four', 'five']

In [136]:
new_list[0]='ONE ALL CAPS' #Cannot change a string, but can change a list

In [135]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [139]:
new_list.append('six') #Append will add on to the end of a list

In [138]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [140]:
new_list.append('seven')

In [141]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six', 'seven']

In [142]:
new_list.pop() # BY DEFAULT WILL REMOVE -1 INDEX NUMBER

'seven'

In [143]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six']

In [144]:
popped_item=new_list.pop()

In [145]:
popped_item

'six'

In [146]:
new_list.pop(0)

'ONE ALL CAPS'

In [147]:
new_list

['two', 'three', 'four', 'five', 'six']

In [148]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [149]:
new_list.sort()

In [150]:
new_list

['a', 'b', 'c', 'e', 'x']

In [156]:
my_sorted_list = new_list.sort() #does not return a line because .sort() does command on personal line / NONE object

In [152]:
type(my_sorted_list)

NoneType

In [158]:
None # An object that indications no vaule. Used as placeholder. return value of a function or method that doesn't return anything

In [165]:
new_list.sort()   # Takes new_list, sorts it, and changes my_sorted_list to a SORTED new_list
my_sorted_list = new_list

In [160]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [161]:
num_list

[4, 1, 8, 3]

In [166]:
num_list.sort()

num_list

In [164]:
num_list

[1, 3, 4, 8]

In [167]:
num_list.reverse()

In [168]:
num_list

[8, 4, 3, 1]